services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
      POSTGRES_DB: test_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U test_user -d test_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  tests:
    build:
      context: .
      dockerfile: Dockerfile.integration_tests
    depends_on:
      - postgres
    networks:
      - app-network
    environment:
      APP_URL: http://localhost:8080
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: test_user
      DB_PASSWORD: test_password
      DB_NAME: test_db
    command: [
        "sh", "-c",
        "echo 'Waiting for API to start...' && go test -v ./internal/integration_tests/..."
      ]

networks:
  app-network:
    driver: bridge
  test_network:
    driver: bridge

volumes:
  postgres_data: