name: CI/CD Pipeline

on:
  push:
    branches: [ testing ]
  pull_request:
    branches: [ main ]

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
          POSTGRES_DB: test_db
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'
        cache-dependency-path: src/go.sum

    - name: Run unit tests
      working-directory: ./src
      run: |
        go test -v -race ./internal/core/service/...
        go test -v -race ./internal/repository/postgres/reps/...


  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    needs: unit-tests
    
    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
          POSTGRES_DB: test_db
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Run integration tests
      working-directory: ./src
      run: |
          echo "=== Current directory structure ==="
          pwd
          ls -la
          echo "=== Database directory ==="
          find . -name "database" -type d
          echo "=== SQL files ==="
          find . -name "*.sql" -type f
          echo "=== Running tests ==="
          go test -v -tags=integration ./internal/integration_tests/...
      env:
        DB_DSN: postgres://test_user:test_password@localhost:5432/test_db?sslmode=disable

  e2e-tests:
    name: E2E Tests
    runs-on: ubuntu-latest
    needs: integration-tests

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Run E2E tests with Docker Compose
      working-directory: ./src
      run: |
        docker compose -f ../docker-compose.yml up --build --abort-on-container-exit
        docker compose -f ../docker-compose.yml down